body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://image.freepik.com/free-vector/modern-technological-elements-with-transparent-background_1035-7108.jpg")
}
